html{
	margin: 0;
	padding: 0;
	font-family:Verdana,Arial,sans-serif;
	background-color:#ffffd4;
	background-image: url('../images/fondo.svg');
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin-top: 20px;
	margin: 10px auto;
	min-width:60em;
	
}
input,textarea{
	color:#666;
}
input:focus{
	color:#000;
	background:#DDF7FF;
	-webkit-box-shadow:inset 0 0 15px #03A0D1;
	-moz-box-shadow:inset 0 0 15px #03A0D1;
	-ms-box-shadow:inset 0 0 15px #03A0D1;
	-o-box-shadow:inset 0 0 15px #03A0D1;
	box-shadow:inset 0 0 15px #03A0D1,2px 2px 15px #FFF,-2px -2px 15px #FFF;
}
@font-face {
	font-family: "terminal-grotesque";
	src: url(./terminal-grotesque.ttf) format("truetype");
}

a{text-decoration:none;font-weight:bold;}
.streamdata {
	font-weight: bold; 
}
#mount, #streaminfo {
	font-size: 80%;
}
.odd{   
	border: 1px dashed #ddd;
}
div.jp-audio,
div.jp-video {border: 0px!important}
#mainContent{
    padding:1em 0.5em;
    background:#F5F5F5;
    border: 0;
    border-top:none;
    -moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}

#mainContent div#playList {
    padding:0;
}

#col-left, #col-right{
    font-size: 80%;
    float: left;
    width:20%;
    margin: 5px;
    padding-top:1em;
    position: fixed;
}
#col-right{right:0; }

}
#col-left ul {
	padding:1em;
	border:1px solid #AAA;
	border-bottom:0.1em solid #666;
	background:#E9E9E9;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #E9E9E9, #AAA);
	background-image: -ms-linear-gradient(top, #E9E9E9, #AAA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#AAA));
	background-image: -webkit-linear-gradient(top, #E9E9E9, #AAA);
	background-image: -o-linear-gradient(top, #E9E9E9, #AAA);
	background-image: linear-gradient(top, #E9E9E9, #AAA);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#AAA',GradientType=0 );
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;

}
#col-left ul {
	list-style-position:inside;
}
#col-centro {
	width:50%;
        margin: 0px auto;
        position: relative;
  	left: 25%;	
}
#col-centro, #content {
	width:50%;
	float: left;
}
#col-centro h2 {
  margin:0;
}

#col-centro #playList ul {
	width:100%;
	margin:0;
	padding:0;
}
#col-centro #playList ul li{
	margin:0;
	background:#E0E0E0;
	border:#BFBFBF 1px solid;
	border-top:#FFF 1px solid;
	list-style-type:none;
	padding:0 1em;
	overflow:hidden;
	cursor: pointer;
	cursor: hand;
}
#col-centro #playList ul li p{ text-align:left;}
#col-centro #playList ul li:nth-child(even){
	background:#F5F5F5;
}
#col-centro #playList ul li.activa:nth-child(even),
#col-centro #playList ul li.activa{
	background: #0091DC;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #0091DC, #005BA5);
	background-image: -ms-linear-gradient(top, #0091DC, #005BA5);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0091DC), to(#005BA5));
	background-image: -webkit-linear-gradient(top, #0091DC, #005BA5);
	background-image: -o-linear-gradient(top, #0091DC, #005BA5);
	background-image: linear-gradient(top, #0091DC, #005BA5);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091DC', endColorstr='#005BA5',GradientType=0 );
	border:#0059BE 1px solid;
	border-top:#3F99FF 2px solid;
}

#col-centro h1.title {
	color:#930004;
	font-size:2.5em;
	padding:0;margin:1em 2em -0.3em 0;
}
#playList h2 span{
	font-size:0.8em;
	color: #444;
}
#playList h2{
	text-shadow:1px 1px 0 #FFF,-1px -1px 10px #999;
	color:#0073C3;
}
#playList li.activa h2{
text-shadow:1px 1px 3px #002640;
color:#FFF;
}
#playList li.activa h2 span{
text-shadow:-1px -1px 2px #29A8FF;
}
#col-centro h2.label {padding:0;text-align:center;margin:0}
#col-centro h2.label marquee {
	color:#005EC6;
	padding:5px;
	width:70%;
	float:right;
	font-family:terminal-grotesque;
	text-shadow:1px 1px 0 #FFF,-1px -1px 1px #000,1px 1px 5px #00C4FF;
}

#col-right {
	float:right;
	margin-right: 10px;
}
#col-right div.ui-widget-header{
	padding:0.8em;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-o-border-radius:7px;
	border-radius:7px;
	margin:1em 0;
}
#col-right div.ui-widget-header input{
	font-size:1em;
	width:90%;
}
#mainContent div{
	background: #EEE;
	padding:0.1em 1em;
	margin:0;
	border: 0;
}	
#tags, #rockolites, #actions {
	list-style-position:inside;
	padding:1em;
	border:1px solid #AAA;
	border-bottom:0.1em solid #666;
	background:#E9E9E9;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #E9E9E9, #AAA);
	background-image: -ms-linear-gradient(top, #E9E9E9, #AAA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#AAA));
	background-image: -webkit-linear-gradient(top, #E9E9E9, #AAA);
	background-image: -o-linear-gradient(top, #E9E9E9, #AAA);
	background-image: linear-gradient(top, #E9E9E9, #AAA);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#AAA',GradientType=0 );
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	width: 180px;
        overflow: hidden;
}
#tags {list-style: none;
	height:10em;}
#tags li {
 display: inline;
  text-transform: lowercase;
  padding: 0 1em;
}
#tags a {
	position:relative;
	color:#0A7CF0;
	text-shadow:1px 1px 1px #FFF,-1px -1px 0 #aaa;
}
#tags a:hover{
	color:#9F4240;
}
#footer {
    clear: both;
}
#authspan {
   position: absolute; 
   right:0;
   top: 0;
}
#authspan button {
   color: #fff;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
#authspan button:before {
   color: #ddd;
   content:"+ ";
}
#Formlogin {margin-left: 20px}
#Captchareload {
  margin-left: 10px;
  margin-bottom:10px;
  cursor: pointer;
}
/*
 * Soporte para tables y PC con baja resolución
 * (inferiores a 920px)
 */
@media (max-width: 920px) {
	@media (max-width: 768px) {
	#col-left, #col-right{width:30%}
	#col-left{
		margin-top:300px;
	}
	#col-centro{
		position:absolute;
		top:220px;
		left:30%;
		margin:0;
		width:70%;
	}
	body{
		margin:0; padding:0;
	}
}
