<!-- inicio columna derecha -->
<div id="col-right">
	
	<div id="Formbuscar" class="ui-widget-header"><input type="text" value="Buscar" name='Formbuscar' /></div>
	
	<div id="git-clone" class="ui-widget-header"><span>git clone</span>
		<input type="text" value="flujos.org:web.git" name='inputGit' />
	</div>
	
	<h2>Nube de Etiquetas:</h2>
	<div id="tags">
		<a href='#punk' style='margin-left:2em;margin-top:1em;font-size:3em'>punk</a>
		<a href='#Banda' style='margin-left:2em;margin-top:1em;font-size:1em'>Banda</a>
		<a href='#Jazz' style='margin-left:0;margin-top:1em;font-size:2em'>Jazz</a>
		<a href='#Chilena' style='margin-left:2em;margin-top:0;font-size:2.5em'>Chilena</a>
		<a href='#sierraNorte' style='margin-left:0;margin-top:3em;font-size:2em'>Sierra Norte</a>
		<a href='#Chilena' style='margin-left:3.5em;margin-top:4em;font-size:2em'>Novela</a>
	</div>
	
</div><!-- fin col derecha -->

