<div id="col-left">
	<h2>Nubes de Rockolites</h2>
	<ul class="rockolites">
		<li>
			<a href='http://radio.flujos.org:8000/rockola.oga' class='oga' title='trasmite:flujosVivos'>Striming en vivo</a>
		</li>
		<li>
			Radio Comunitaria Yaxhil
		</li>
		<li><a href="javascript:;" id="playlist-setPlaylist-audio-mix">Cargar Lista</a></li>
		<li><a href="javascript:;" id="remover">remover_cancion</a></li>
		<li><a href="javascript:;" id="select-2">select-2</a></li>
	</ul>
</div><!-- fin col izquierda -->
