%form(action="/login" method="post")
  %label(for="email")Email:
  %input#email(type="text" name="email")
  %label(for="password")Password:
  %input#password(type="password" name="password")
  %input(type="submit" value="Login") <a href="/signup">Registra</a> o <a href="/">Cancel</a>
