<!-- inicio columna derecha -->
<div id="col-right">
   <span class='authbutton' id='authspan'>
	<button id='Buttonlogin'>Registro</button>
 	<button style="display:none" id='Buttonlogout'>Salir</button>
   </span>
<span style='color:red' id='loginmessage'></span>
	<div id="Formbuscar" class="ui-widget-header"><input type="text" value="Buscar" name='Formbuscar' /></div>

	<div style='display:none' id='logindiv'><form id='Formlogin' action="login" method="post"></br><input id='inputEmail' type="text" name="email" value="Email"/></br><input id='inputPass' type="text" name="password" value="Contraseña"/><img style="margin-top:10px;margin-left:20px" class='captcha' src="../images/search.png" width="110" height="50" alt="captcha"/><img id='Captchareload' src='../images/bb_reload.gif'/><div style='display:none;position:absolute;top:100;left:80;z-index:10' id='loader'><img src="../images/spinner.gif"/></div><br/>
<input class='captcha' type="hidden" name="open_captcha_image_name" value="image_name"/>
<input  class="text"  type="text" id="open_captcha_answer" name="open_captcha_answer" value="Que ves en el Imagen?"/>
<input id='submitlogin' type="button" value="Enviar" /><input type="checkbox" name="registro" value="true" />Nuevo Usuario</form>
</div>

		<h2>Acciones</h2>
	<ul id="actions">
		<li><a href="javascript:;" id="playlist-setPlaylist-audio-mix">Cargar Lista</a></li>
		<li><a href="javascript:;" id="remover">remover_cancion</a></li>
		<li><a href="javascript:;" id="select-2">select-2</a></li>
	</ul>


</div><!-- fin col derecha -->

